.questionnaire{
    width: 100%;
    height: auto;

    margin-top: 130px;
    background: linear-gradient(123.8deg, #48B3AB 9.55%, #06505D 96.16%);
    padding: 70px 0px;

    &__wrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title{
        font-weight: 450;
        font-size: 59px;
        line-height: 53px;
        color: #F2F2F2;
        text-align: left;
    }
    &__form-checkbox-block{
        position: relative;
    }

    &__description{
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #E0E0E0;
        text-align: left;
        margin-top: 17px;
    }
    &__form{
        width: 100%;
        background: #FFF9F9;
        border-radius: 10px;
        padding: 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 46px;
    }
    &__form-title{
        font-size: 33px;
        line-height: 53px;
        color: #181717;
        margin-bottom: 37px;
    }
    &__form-checkbox-block{
        display: flex;
        flex-direction: row;
        align-items: center;
        span{
            text-align: left;
            font-weight: normal;
            font-size: 15px;
            line-height: 15px;
            color: rgba(79, 79, 79, 0.87);
            
        }
    }
    .btn-submit{
        width: 307px;
        height: 57px;
        background: linear-gradient(180deg, #48B3AB 0%, #06505D 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-weight: normal;
        font-size: 28px;
        margin-top: 36px;
        margin-right: auto;
        margin-left: auto;
        color: #F2F2F2;
    }
    input[type="checkbox"]{
        margin-left: 10px;
        display: none;  
        
        }
        
        label:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 17px;
            position: absolute;
            left: 0;
            bottom: 1.5px;
            background-color: white;
          border: 1px solid black;
            border-radius: 3px;
 

            
        }
        
        label {
            display: inline-block;
            cursor: pointer;
    
            padding-left: 40px;
            margin-right: 15px;
            font-size: 15px;
        }
        
         .checkbox label:before {  
            border-radius: 3px;  
         
        }  
        
        input[type="checkbox"]:checked + label:before {  
            content: "\2713";  
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
            font-size: 15px;  
            color: black;
            text-align: center;  
            line-height: 15px;  
        }
}



@media (max-width: 1200px) { 
    .questionnaire{
        &__wrapper{
            width: 100%;
            
        }
    }
    
}

@media (max-width: 700px){
    .questionnaire{
        .btn-submit{
            width: 100%;
            height: 57px;
            background: linear-gradient(180deg, #48B3AB 0%, #06505D 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            font-weight: normal;
            font-size: 28px;
            margin-top: 36px;
            color: #F2F2F2;
            margin-left: 0px;
        }
    }
}
@media (max-width: 500px){
    .questionnaire{
        &__form{
            padding: 10px;
        }
        &__title{
            font-size: 39px;
        }
        &__description{
            font-size: 16px;
        }
    }
}



