.interest{
    margin-top: 90px;
    &__block-title{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__title{
        font-weight: 450;
        font-size: 36px;
        line-height: 55px;
        color: rgba(0, 0, 0, 0.9);
    }
    &__wrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__card{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;
    }
    &__card-title{
        font-style: normal;
        font-weight: 450;
        font-size: 64px;
        line-height: 20px;
        color: #000000;
    }
    &__card-description{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.95);
        text-align: left;
        margin-top: 30px;
    }
}
@media (max-width: 790px){
    .interest{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__card{
            width: 100%;
            align-items: center;
        }
    }
}
@media (max-width: 600px){
    .interest{
        &__wrapper{
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
        &__card{
            margin-top: 60px;
        }
        &__title{
            font-size: 25px;
        }
    }
}

@media (max-width: 430px){
    .interest{
        &__card-title{
            font-size: 50px;
        }
        &__card-description{
            font-size: 16px;
        }
    }
}