.recommendation{
    margin-top: 100px;
    &__block-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 63px;
        line-height: 53px;
        color: rgba(0, 0, 0, 0.9);
    }
    &__subtitle{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #4F4F4F;
        text-shadow: 0px 4px 4px rgba(189, 184, 184, 0.15);
        margin-top: 5px;
    }
}

@media (max-width: 1000px){
    .recommendation{
        margin-top: 150px;
        &__title{
            font-size: 43px;
        }
    }
}

@media (max-width: 500px){
    .recommendation{
        &__title{
            font-size: 39px;
      
        }
        &__subtitle{

            line-height: 16px;

        }
    }
}
