.shoping-center{
    margin-top: 130px;

    &__title{
        font-weight: normal;
        font-size: 63px;
        line-height: 53px;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

    }

    &__wrapper-cards{
        margin-top: 55px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__card{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-bottom: 15px;
        }
    }

    &__card-text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        &__quantity{
            font-weight: normal;
            font-size: 18px;
            line-height: 53px;
            color: rgba(0, 0, 0, 0.77);
        }
        &__address{
            font-weight: normal;
            font-size: 18px;
  
            color: rgba(79, 79, 79, 0.87);
        }
        
    }
    &__block-btn{
        margin-top: 70px;
        display: none;
        width: 100%;
        height: auto;
       
        flex-direction: row;
        justify-content: flex-end;
        button{
            background: linear-gradient(180deg, #48B3AB 0%, #06505D 100%);
            border-radius: 5px;
            padding: 20px;

            font-weight: 450;
            font-size: 24px;
            color: #F6F6F6;
            border:  none;

        }
       
    }

}

@media (max-width: 1200px) { 
    .shoping-center{
        &__wrapper-cards{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card{
            margin: 20px;
        }
    }
}
@media (max-width: 500px){
    .shoping-center{
        &__title{
            font-size: 39px;
        }
        &__block-btn{
            justify-content: center;
            button{
                font-size: 16px;
            }
        }
        &__card{
            img{
               width: 100%;
            }
        }
    }
}