.galery{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,177px);
    grid-gap: 45px;
    &__card{
        position: relative;
    }
    &__card-icon{
        position: absolute;
        top: 50px;
        z-index: 100;
        left: 25%;
    }
    &__card-img{
        width: 100%;
        height: 177px;
    }
}

@media (max-width: 1200px){
    .galery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__card-img{
 
            height: 100%;
        }
    }
}




@media (max-width: 820px){
    .galery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__card{
            width: 70%;
        }
        &__card-img{
 
            height: 100%;
        }
    }
}
// 286px