.divide-by-three{
    margin-top: 130px;
    &__title{
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        display: block;
        color: rgba(0, 0, 0, 0.9);
    }
    &__subtitle{
        font-weight: 600;
        font-size: 30px;
        line-height: 55px;
        text-align: center;
        display: block;
        color: rgba(0, 0, 0, 0.9);
        margin-top: 50px;
    }
    &__grid-wrapper{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 40px;
        row-gap: 15px;
    }
    &__payments{
        grid-column: 1/7;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        height: 105px;
        background: rgba(189, 184, 184, 0.15);
        border: 1px solid #CBCBCB;
        border-radius: 5px;
        &__math{
            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: space-between;
            &__title{
                font-weight: normal;
                font-size: 24px;
                line-height: 25px;
                color: rgba(79, 79, 79, 0.82);
            }
            &__price{
                font-weight: 450;
                font-size: 29px;
                
                color: rgba(23, 23, 23, 0.9);
            }
        }
        &__title{
            font-weight: 450;
            font-size: 27px;
            line-height: 53px;
            color: rgba(0, 0, 0, 0.9);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    &__example-1{
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: 65px;
     
    }
    &__price-row-1{
        grid-column: 2/5;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background: #48B3AB;
        border-radius: 15px;
        height: 100%;
    }
    &__block-price{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 450;
        font-size: 24px;
        line-height: 53px;
        color: #FFFFFF;
    }
    &__title-example{
        display: flex;
        flex-direction: row;
        &__price{
            text-align: left;
            margin-left: 10px;
            .product{
                font-weight: 450;
                font-size: 24px;
                color: rgba(79, 79, 79, 0.8);
            }
            .price{
                font-weight: 450;
                font-size: 27px;
                color: #000000;
            }
        }
    }
    &__example-2{
        grid-column: 2/7;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        height: 65px;

        .sneakers{
            grid-column: 1/3;
            width: 100%;
            display: flex;
            justify-content: center;
           
        }
        
    }
    &__price-row-2{
        grid-column: 3/7;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background: #48B3AB;
        border-radius: 15px;
        height: 100%;
    }
    &__images{
        height: 65px;
    }
    &__price-row-3{
        grid-column: 2/7;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background: rgba(6, 80, 93, 0.9);
        border-radius: 15px;
    }
    &__example-3{
        grid-column: 1/7;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        height: 65px;
        &__block-title{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: 450;
            font-size: 30px;
            line-height: 53px;
            color: rgba(79, 79, 79, 0.8);
        }
    }
    &__total-amount{
        grid-column: 4/7;
        font-weight: 450;
        font-size: 24px;
        line-height: 20px;
        color: rgba(23, 23, 23, 0.7);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media (max-width: 1500px) { 
    .divide-by-three{
        img{
            height: 45px;
        }
        &__payments{
            &__title{
                font-size: 20px;
            }
            &__math{
                &__title{
                    font-size: 17px;
                }
                &__price{
                    font-size: 20px;
                }
            }
        }
        &__title-example__price{
            .product{
                font-size: 18px;
            }
            .price{
                font-size: 20px;
            }
        }

    }
}

@media (max-width: 1000px) { 
    .divide-by-three{
        display: none;
    }
}