.condition-item{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
    &__content{
        margin-left: 20px;
        text-align: left;
        span{
            font-weight: 900;
            font-size: 22px;
            line-height: 25px;
            color: rgba(23, 23, 23, 0.9);
        }
    }
}

@media (max-width: 1000px) {
    .condition-item{
        width: 100%
    }
    
}
@media (max-width: 500px){
    .condition-item{
        &__content{
            span{
                font-size: 18px;
            }
        }
    }
}