.benefit {
    margin-top: 120px;
    &__block-title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__title {
        font-style: normal;
        font-weight: 450;
        font-size: 36px;
        line-height: 55px;
        color: rgba(0, 0, 0, 0.9);
    }
    &__wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__card {
        width: 22%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        img {
            width: 63px;
            height: 63px;
        }
    }
    &__card-description {
        margin-top: 25px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.95);
    }
}

@media (max-width: 1200px) {
    .benefit {
        &__card {
            width: 45%;
        }
    }
}
@media (max-width: 500px) {
    .benefit {
        &__block-title {
            justify-content: center;
        }
        &__title {
            font-size: 25px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__card {
            width: 90%;
        }
    }
}
