.doc-icon{

    svg{
        width: 40px;
        height: 40px;
    }
}
.doc-item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    a{
        text-decoration: none;
        color: black;
        margin-left: 15px;
        text-align: left;
        width: 70%;
    }
    &__name-file{
       width: 100%;
    }
}