.slide-btn{
    font-weight: normal;
    font-size: 20px;
    max-height: 52px !important;
    line-height: 25px;
    color: rgba(23, 23, 23, 0.9);
    text-shadow: 0px 4px 4px rgba(189, 184, 184, 0.15);
    padding: 10px;
    border: 1px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    width: auto !important;
}
.slider{
    margin-top: 45px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 1400px) { 
    .slide-btn{
        font-size: 20px;
       
    }
}

@media (max-width: 1000px){
    .slide-btn{
        font-size: 15px;
       
    }
}
