.open-app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__image-block{
        width: 40%;
        height: 700px;
        position: relative;
    }
    &__phone{
        position: absolute;
        right: 0px;
        height: 700px;
    }
    &__content{
        margin-left: 10%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__block-actions{
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        span{
            margin: -1px 1px 1px -1px;
            line-height: 2px;
            background: black;
            padding: 1.5px;
            float: left;
            margin-left: 15px;
            margin-right: 15px;
            height: 100%;
        }
    }
    &__btn{
        background: linear-gradient(180deg, #48B3AB 0%, rgba(6, 80, 93, 0.95) 100%);
        border-radius: 5px;
        font-weight: 450;
        font-size: 24px;
        line-height: 25px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 70%;
        color: #F9F9F9;
        cursor: pointer;
    }
    &__btn:hover, &__btn:focus{
        color: #F9F9F9;
        cursor: pointer;
    }
    &__title{
        font-weight: bold;
        font-size: 63px;
        line-height: 53px;
        color: rgba(0, 0, 0, 0.9);
    }
    &__subtitle{
        font-size: 19px;
        line-height: 25px;
        color: rgba(23, 23, 23, 0.9);
        margin-top: 10px;
    }
    &__image-elips{
        position: absolute;
        top: 185px;
        right: 206px;
        width: 500px;
        height: 500px;
        border-radius:50%;
        background: rgba(72, 179, 171, 0.82);
        filter: blur(60px);
    }

           

}
@media (max-width: 1400px) { 
    .open-app{

        &__image-block{
            height: 500px;
        }
        &__image-elips{
            position: absolute;
            top: 120px;
            right: 100px;
            width: 400px;
            height: 400px;
            border-radius:50%;
            background: rgba(72, 179, 171, 0.82);
            filter: blur(60px);
        }
        &__phone{
            height: 100%;
        }
        &__content{
            width: 35%;
        }
        &__btn{
            font-size: 20px;
        }
        &__title{
            font-size: 40px;
        }
    }
}

@media (max-width: 950px) { 
    .open-app{

        &__image-block{
            display: none;
        }
        &__phone{
            height: 100%;
        }
        &__content{
            width: 100%;
            margin-left: 0px;
            padding-left: 5%;
            padding-right: 5%;
        }
        &__btn{
            font-size: 20px;
        }
        &__title{
            font-size: 40px;
        }
    }
}