.repayment-schema{
    margin-top: 130px;
    &__title{
        font-weight: 600;
        font-size: 63px;
        line-height: 53px;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
    }

    &__cards-wrapper{
        margin-top: 130px;
        height: 270px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 50px;
    }
    &__card{
        background: #FFFFFF;
        box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        position: relative;
        padding:58px 37px 37px 37px ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__black-card{
        position: absolute;
        width: 181px;
        height: 102px;
        left: 30px;
        top: -60px;
        background: #2B2929;
        border-radius: 10px;
    }

    &__card-title{
        font-style: normal;
        font-weight: 450;
        font-size: 30px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.85);
        text-align: left;
    }

    &__card-btn{
        font-size: 16px;
        line-height: 30px;
        color: #3D3D3D;
        background: none;
        border: none;
        border-bottom: 3px solid #15666F;
        span{
            margin-right: 15px;
        }
    }

    &__card-capabilities{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__card-capabilities-item{
        margin-top: 8px;
        font-weight: normal;
        font-size: 14px;
        color: #4F4F4F;
        display: flex;
        flex-direction: row;
        align-items: center;
        span{
            margin-left: 6px;
        }
    }
}

@media (max-width: 1330px) { 
    .repayment-schema{
        &__cards-wrapper{
            margin-top: 0px;
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__card{
            margin-top: 130px;
        }
    }
    
}

@media (max-width: 500px){
    .repayment-schema{
        &__title{
            font-size: 43px;
        }
    }
    
}