.docs-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
    &__block-title{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 50px 0px;
    }
    &__title{
        color: #202020;
    }
}
@media (max-width: 1000px){
    .docs-page{

        .doc{
            width: 80%;
        }
    }
}