.step-installment{
    margin-top: 50px;
    &__title{
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;

    }
    &__card{
        position: relative;
        margin-top: 100px;
        span{
            position: absolute;
            left: 124px;
            width: 250px;
            top: 143px;
            font-style: normal;
            font-weight: 450;
            font-size: 18px;
            line-height: 20px;
            text-align: left;
            color: rgba(23, 23, 23, 0.9);

        }
    }
    &__number{
        font-weight: bold;
        font-size: 250px;
        line-height: 55px;        
        color: #E6E6E6;
        text-shadow: 0px 4px 20px rgba(82, 82, 82, 0.1);
    }
}

@media (max-width: 1100px) { 
    .step-installment{
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
    
        }
        &__card{
            margin-top: 200px;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                width: auto;
                position: initial;
            }
        }
        
    }

}

@media (max-width: 600px){
    .step-installment{
        &__title{
            font-size: 30px;
        }
    }
}

@media (max-width: 500px){
    .step-installment{
        &__title{
            font-size: 25px;
        }
    }
}

